.container {
  width: 42px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #618da2;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 14px;
}

.round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: skyblue;
  position: absolute;
}
